{
  "ignore": ["**/*{Jce,Proxy}.js"],
  "presets": ['node6', 'stage-1'],
  "plugins": ["transform-decorators-legacy"],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    }
  }
}
